.go-wrap h3, .opt-inp {
	border-left: 14px solid #3D928F;
	padding: 6px;
	border-radius: 4px;
	width: 20%;
	margin: 12px 0px 12px 0px;
	background: #217A7A;
	color: white;
	padding-top: 12px;
	padding-bottom: 12px;
}
.opt-inp input {
	margin-top:1.3%;
}
.go-wrap .pa {
	border-left: 14px solid #3D9272;
	padding: 6px;
	border-radius: 4px;
	width: 20%;
	float: left;
	margin: 1px 17px 0px 0px;
	background: #217A58;
	color: white;
}
.opt-box {
	width: 100%;
	float: left;
}
.go-wrap .pa input {
	border-bottom: 3px solid #1E5741;
	border: 2px solid #2E8D68;
	border-top: 3px solid #1E5741;
	border-left: 3px solid #1E5741;
	border-radius: 2px;
	background: #FAFFFF;
	width: 85%;
}
.go_opt_help {
	float: right;
	color: black;
	margin-right: 0px;
	width: 15px;
	height: 15px;
	border-radius: 8px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	background: white;
	cursor: pointer;
	display: inline;
	position: relative;
}
.go_opt_help:hover:after {
	background: #333;
	background: rgba(0,0,0,.95);
	border-radius: 5px;
	color: #fff;
	content: attr(title);
	bottom: 10px;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: 220px;
	left: 80%;
}
.tooltip:hover:before {
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 0px;
	content: "";
	left: 50%;
	position: absolute;
	z-index: 99;
}

.dark{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.light{
	display: none;
	position: fixed;
	left: 22.5%; 
	top: 20%;
	background-color: white;
	z-index:1002;
}

#sortable_go_presets input{
	width: 80px !important; 
}	