#go_leaderboard_filters {
  padding: 20px;
}

#records_tabs a, #records_tabs .tooltip{
  color: blue;
}

#go_messages .select2-container{
  width: 100% !important;
}

.dt-buttons {
  padding: 10px;
}

.hidden_action{display: none;}