

.go_favorite_container {

	label {
		cursor: pointer;


		input[type="checkbox"] {
			display: none;
		}

		.go_favorite_label:before{
			font-family: Fontawesome !important;
			content: '\f08a';
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			color: #aaaaaa;
			line-height: 2;
			-webkit-font-smoothing: antialiased;
			font-size: 2em;
		}

		input[type="checkbox"]:checked + .go_favorite_label:before{
			font-family: Fontawesome !important;
			content: "\f004";
			color: #8B0000;
			font-size: 2em;
		}



	}

}

.go_favorite_container span.checkbox::before {
	width: 27px;
	height: 27px;
	background-color: #fff;
	left: -35px;
	box-sizing: border-box;
	border: 3px solid transparent;
	transition: border-color .2s;
}
.go_favorite_container span.checkbox:hover::before {
	border: 3px solid #F0FF76;
}
.go_favorite_container span.checkbox::after {
	content: '\f00c';
	font-family: 'FontAwesome';
	left: -31px;
	top: 2px;
	color: transparent;
	transition: color .2s;
}
input[type="checkbox"]:checked + label span.checkbox::after {
	color: #62AFFF;
}

.go_blog_stage {
	border: solid 1px;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	background-color: #ededed;
	margin-bottom: 10px;
}

/**VIDEOS EMBEDED WITH MEDIA MANAGER
https://cfxdesign.com/how-to-make-the-wordpress-video-shortcode-responsive/
*/
.wp-video, video.wp-video-shortcode, .mejs-container, .mejs-overlay.load {
	width: 100% !important;
}
.mejs-container {
	/**padding-top: 56.25%;*/
}
.wp-video, video.wp-video-shortcode {
	max-width: 100% !important;
}
video.wp-video-shortcode {
	position: relative;
}
.mejs-mediaelement {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.mejs-controls {
	display: none;
	background: rgba(0, 0, 0, 0.5);
}
.mejs-overlay-play {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto !important;
	height: auto !important;
}


/**
 *for the media modal
 */
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.featherlight {
	z-index: 100002 !important;
	background: rgba(0,0,0,.8) !important}
#__wp-uploader-id-2 {z-index: 100003 !important;}

.swal-overlay {
	z-index: 100005 !important;
}
.swal-button--save {
	background-color: forestgreen !important;
}

.swal-button--save:hover {
	background-color: darkseagreen !important;
}
.swal-button--exit {
	background-color: indianred !important;
}

.swal-button--exit:hover {
	background-color: pink !important;
}

/**
 *ACF Loot Color
 */
#go_loot_table .acf-switch,
#go_loot_table .go-acf-switch{
	background: pink !important;
	border-color: indianred !important;
}
#go_loot_table .acf-switch.-on,
#go_loot_table .go-acf-switch.-on{
	background: forestgreen !important;
	border-color: darkgreen !important;
}
/**
 *Messages form
 */
#go_messages .form-table th {
	vertical-align: top;
	text-align: left;
	padding: 5px 10px 20px 10px;
	width: 200px;
	line-height: 1.3;
	font-weight: 600;
}
#wp-admin #go_messages .form-table th {

	text-align: left;
	padding: 20px 10px 20px 0px;
	width: 200px;
	line-height: 1.3;
	font-weight: 600;

}
#go_messages .acf-table{
	border: solid 1px #8c8888!important;

}
#go_messages textarea{
	width: 100%;
}


/********************
*	Select2 fields for taxonomy selects
********************/

.select2-container {
	min-width: 125px;
}
.select2-container--open{
	z-index:9999999999
}

/********************
*	Check for Understanding Buttons
********************/

#go_buttons {
	overflow: auto;
	position: relative;
	padding: 10px;
    min-height: 40px;
}

#go_back_button {
	float:left;
	position: absolute;
	bottom: 10px;

}

#go_abandon_task {
	float:left;
	position: absolute;
	bottom: 10px;

}

#go_button {
	float: right;
}

.go_save_button  {
	float: left;
	margin: 10px;
}

#go_blog_submit, .go_blog_trash  {
	float: right;
	margin: 10px;
}

#go_back_button,
#go_button,
.go_frontend-button {
	cursor: pointer;
}

#go_upload_button {
	margin: auto;
	font-size: 1.4em;
	padding: 6px;

}

#go_button.show_bonus {
	background-color: gold;
	color: black;
	border: 1px solid;

}

.go_required_blog_content{
	padding: 20px;
}



/********************
*	locks
********************/
.go_locks {
	border: 1px solid;
	border-radius: 15px;
	padding: 10px;
	margin: 10px;
	background-color: #ddd;
}
.go_lock, .go_late_mods, .go_sched_access_message, .go_timer_message, .go_checks_and_buttons {
	border: solid 1px;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	background-color: #f5b3bd;
}

.go_checks_and_buttons{
	background-color: #c9fbc9;

}

.go_checks_and_buttons.active{
	background-color: cornsilk;
}

.go_lock ul ul {
	list-style-type: disc !important;
	list-style-position: inside !important;
}

/********************
*	Top Menu
********************/

/*no dotted line*/
.menu-go_top_menu-container a {
	outline: 0 !important;
}


/********************
*	Outro
********************/


/********************
*	Featherlight
********************/


#wp-featherlight-enable-wrap {display: none;}

/********************
*	???
********************/

.go_notification {
	text-align: center;
	line-height: 60px;
	vertical-align: middle;
	font-size: 36px;
	position: fixed;
	right: 30px;
	height: 68px;
	width: 250px;
	color: white;
	display: none;
	padding: 4px 1px 1px 1px;
	border-radius: 3px;
	background: #111111;
	opacity: 0.9;
	z-index: 9999999;
}

.go_error {
	padding: 5px 0 5px 0;
}

.go_error_red, .go_error {
	color: red;
}

span.go_loading {
	background-image: url("../../media/images/ajax-loader.gif");
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

input[type='text'].go_error_red {
	border: 2px solid red;
	outline: none;
}

.go_no_scroll {
	overflow: hidden;
}

/********************
*	Admin-Bar Styles
********************/
.fa.ab-icon:before {font-family: Fontawesome !important;}

@media screen and (max-width: 782px){
  	#wp-admin-bar-go_map, #wp-admin-bar-go_stats, #wp-admin-bar-go_store {
 		display:block !important;
 		width: 52px; height: 46px;
 		overflow: hidden;
	}
 }

.go_message_container {
	margin: 0 0 0 10px !important;
}

.go_message_container a {
	display: inline-block !important;
	text-decoration: underline !important;
	padding: 0px !important;
	margin: 0px !important;
}

#wp-admin-bar-go_info > a > div {
	height: 16px;
	display: flex;}

#go_admin_bar_progress_bar_border {
	height: 100%;
	width: 120px;
	border: thin white solid;
	margin-top: 2px;
	position: relative; }

#go_admin_health_bar_border {
	height: 100%;
	width: 120px;
	border: thin white solid;
	margin-top: 2px;
	position: relative; }

.admin_bar_loot {
	line-height: 24px !important;
}

.progress-bar-border, .admin_bar_loot {
	margin-left: 10px !important;}


#go_admin_bar_progress_bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100% !important; }

#go_admin_bar_health_bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100% !important;}


#go_admin_bar_title {
	text-align: left;
}

#go_admin_bar_input {
	width: 250px;
}

#go_admin_bar_rank {
	font-size: 1.2em;
	color: #eee;
}

.go_admin_bar_add_input {
	width: 50px !important;
}

.go_admin_bar_reason {
	width: 175px !important;
}

ul#wp-admin-bar-go_add-default.ab-submenu {
	height: 380px;
}

#points_needed_to_level_up, #health_bar_percentage_str {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	line-height: initial !important;
	overflow: hidden;
}

#points_needed_to_level_up:hover {
	color: white;
}

.go_admin_bar_text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center !important;
	color: white;
	text-shadow: 0px 0px #ff6600;
	word-break: break-all;
}

.progress_bar {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #39b54a;
}

#go_messages_bar {
	background-color: red;
	border: 1px solid white;
	box-shadow: 1px 1px 1px black;
	color: white;
	height: 16px;
	text-align: center;
	min-width: 14px;
	line-height: 17px;
	margin-top: 2px;
}

.go_messages_anchor {
	padding: 0 0 0 10px !important;
}

#go_admin_bar_task_search_input {
	height: 24px;
	font-size: 13px;
	margin-top: 3px;
	line-height: 2;
	display: inline-block;
}

#go_admin_bar_task_search_submit {
	height: 24px;
	margin-bottom: 3px;
	font-size: 10px;
	line-height: 24px;
	width: 50px;
	display: inline-block;
}

input[name="go_admin_bar_submit"] {
	height: 40px !important;
}

#wp-admin-bar-site-name .ab-submenu {
	background-color: #4B4B4B !important;
}

#wp-admin-bar-site-name .go_site_name_menu {
	background-color: #333 !important;
}

#go_admin_bar_deactivation {
	height: 25px;
	line-height: 10px;
	width: 70px;
}

#wp-admin-bar-go_toolbar_login {
	display: inline !important;
	padding: 0 8px 0 7px !important;
}

#wp-admin-bar-go_toolbar_login a {
	padding: 0 8px 0 7px !important;
}


/********************
*	Task Styles
********************/

/* Tasks Style | Back-end */

div.misc-pub-section-clone {
	border-top: 1px solid #eee;
}

input#go-button-clone {
	margin-bottom: 7px !important;
}

.go_sortable {
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

.go_sortable_item {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}

#go_start_info {
	display: inline-block;
}

.datepicker {
	border-width: 1px;
	border-color: #DDD;
}

.cmb_id_go_mta_time_modifier td input {
	width: 30px;
}

.go_task_settings_accordion {
	font-size: 16px;
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	padding: 5px;
	cursor: pointer;
}

.go_triangle_container {
	float: right;
	cursor: pointer;
	display: block;
	width: 27px;
	height: 20px;
	text-align: center;
}

.go_triangle_container:hover .go_task_accordion_triangle {
	border-top: 5px solid #777;
}

.go_task_accordion_triangle {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #AAA;
	display: inline-block;
	vertical-align: middle;
	margin: auto;
}

.go_task_settings_accordion.opened .go_task_accordion_triangle {
	border-top: none;
	border-bottom: 5px solid #AAA;
}

.go_reward_input {
	color: #BBB !important;
	text-align: center;
	width: 40px;
}

.go_admin_lock_text {
	width: 50%;
}

.go_admin_lock_text::-webkit-input-placeholder {
	padding-top: 2px;
}

.go_admin_lock_text::-moz-placeholder {
	padding-top: 2px;
}

.go_test_field_table, .go_test_field_input_question {
	width: 100%;
}

.go_test_field_table td {
	padding: 20px !important;
	margin-left: -2px;
}

.go_test_field_input_row select,
.go_test_field_input_question,
.go_test_field_add,
.go_test_field_rm,
.go_test_field_add_block_button {
	margin-left: inherit;
}

.go_test_loot_mod {
	text-align: center;
	width: 40px;
}

.go_test_field_input_question {
	width: 100%;
}

.go_test_field_input_question::-webkit-input-placeholder {
	padding-top: 2px;
}

.go_test_field_input_question::-moz-placeholder {
	padding-top: 2px;
}

.go_test_field_input {
	width: 75%;
	margin: 0 5px 0 5px !important;
	padding-top: 4px;
}

.go_test_field_input::-webkit-input-placeholder {
   padding-top: 2px;
}

.go_test_field_input::-moz-placeholder {
   padding-top: 2px;
}

.go_test_field_input_checkbox {
	margin: 0 0 4px -2px !important;
}

.go_button_add_field, .go_test_field_add {
	color: green;
}

.go_button_del_field, .go_test_field_rm {
	color: red;
	margin-left: 5px;
}

.go_test_field_input_rm_row_button {
	margin-left: -2px !important;
}

#go_repeat_amount_input {
	width: 40px;
	text-align: center;
}

.go_stage_badge_container {
	list-style: none;
}

.go_badge_input {
	width: 75px;
}

input.go_current {
	color: #000 !important;
}

.condensed {
	padding: 7px !important;
}

#go_future_notification {
	color: red;
}

#go_future_notification_task_name {
	font-weight: bold;
	color: black !important;
}

#go_task_timer {
	color: red;
	font-weight: bold;
}

#go_bonus_loot_checkbox {
	display: block;
}

ul#go_bonus_loot_wrap {
	list-style: none;
	margin-top: 15px;
	margin-bottom: 0;
}

ul#go_bonus_loot_wrap li {
	margin-bottom: 10px;
}

ul#go_bonus_loot_wrap li.go_error {
	padding: 0;
	margin-top: 15px;
}

.go_bonus_loot_rarity {
	width: 50px;
}

/* Tasks Style | Front-end */

#go_description p,
#go_content p,
#new_content p {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.go_stage_message {
	border-top: 1px solid;
	border-top-color: inherit;
	padding: 20px 0 20px 0;
}


#go_description .go_stage_message {
    background-color:transparent;
}

#new_content .go_stage_message {
    background-color:#fffcf2;

}

.go_test_container {
	margin-bottom: 10px;
}

.go_test_container:last-of-type {
	margin-bottom: 0px;
}

.go_test li {
	list-style: none;
}

.go_test li:first-of-type {
	display: inline;
}

.go_test li p {
	margin: 0px !important;
	padding: 0px !important;
}

#go_test_error_msg {
	margin: 0 !important;
}

.go_wrong_answer_marker {
	color: red;
	margin: 0 0 0 10px !important;
	padding: 0px !important;
}

.go_correct_answer_marker {
	color: green;
	margin: 0 0 0 10px !important;
	padding: 0px !important;
}

.go_chain_msg_container {
	margin-top: 20px;
}

.go_chain_final_msg {
	margin: 10px 0;
	text-align: center;
}

.go_chain_title {
	font-weight: 900;
}

.go_chain_links {
	text-align: center;
}

div.go_pod_message {
	margin-top: 10px;
}

.go_test_submit {
	margin: 10px 0 10px 2px !important;
}

#go_pass_lock {
	margin: 0 0 10px 0;
}

#go_pass_lock::-webkit-input-placeholder {
	padding-left: 4px;
}

input#go_pass_lock::-moz-placeholder {
	padding-left: 4px;
}

.go_dark {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 99998;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
}

.go_light {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: white;
	z-index: 99999;
	padding: 10px 10px 10px 10px;
}

.comment {
    list-style: none;
}

.fit_and_box .featherlight-content {
	padding: 0px !important;
	border-bottom: 0px !important;
	background:rgba(0,0,0,0 ) !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
}


.featherlight-iframe .featherlight-content {
    width: 80%;
    height: 80%;
	overflow-y: hidden !important;
}

#adminmenu #toplevel_page_game-on-options .wp-menu-image:before {
	font-family: Fontawesome !important;
	content: '\f085';
}

#adminmenu #toplevel_page_badges .wp-menu-image:before {
	font-family: Fontawesome !important;
	content: '\f0a3';
}

#adminmenu #toplevel_page_groups .wp-menu-image:before {
	font-family: Fontawesome !important;
	content: '\f0c0';
}

#adminmenu #menu-posts-tasks .wp-menu-image:before {
	font-family: Fontawesome !important;
	content: '\f041';
}

.wp-menu-separator{
    border-bottom: solid 1px;
    color: lightgray;
}

#wp-go_blog_post-wrap {margin-top: 20px;}

#go_all_content {
	.go_buttons,
	.insert-media,
	.wp-editor-tabs,
	#go_bonus_button{
		opacity: .5;
		cursor: default;
		pointer-events:none !important;
	}

	.wp-editor-container textarea.wp-editor-area{
		height: 50px;
	}
}

#go_task_rewards {
	display: flex;
}
#go_task_rewards > *{
	padding: 20px;
}


/********************
*	Blue Pulse on filter button
********************/
@-webkit-keyframes bluePulse {
	from { background: #C9E0E2; -webkit-box-shadow: 0 0 9px #50B7E3; }
	50% { background: #C9E0E2; -webkit-box-shadow: 0 0 18px #2CC8EF; }
	to { background: #C9E0E2; -webkit-box-shadow: 0 0 9px #50B7E3; }
}

#go_leaderboard_update_button button.bluepulse {
	-webkit-animation-name: bluePulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}