.featherlight.stats .featherlight-content {
	width: 90%;
	height: 90%;
	margin-bottom: 5%;
	margin-top: 5%;
}
.featherlight-content .go_featherlight_content{
 display: block !important;
}


/*
TOOLTIP
 */
/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 10px;
	border-radius: 6px;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;

	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/*
END TOOLTIP
 */

/** Header Styles **/


/**Header**/
#go_stats_header {
	position: relative;
	overflow: hidden;
	font-family: verdana;
	margin-right: 20px;
	display: flex;
	flex-wrap: wrap;
}
.stats_progress_bar{
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
}

.go_stats_user_loot, .go_stats_bars {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.go_stats_user_loot_container{

}
.health_bar_percentage_str, .points_needed_to_level_up {
	color: white;
	position: absolute;
	top: 0;
	left: 0;
}
.go_stats_id_card, .go_stats_bars, .go_stats_user_loot {
	font-size: 16px;
	line-height: 18px;
	min-width: 250px;
	flex-grow: 1;
	margin: 0 15px 15px 15px;
}
.go_stats_id_card {
	display: flex;
}
.go_stats_gravatar {
	width: 150px;
	height: 150px;
	border: 2px solid #BBB;
	position: relative;
	margin: 0px 10px 0px 20px;
}

#go_stats_header .progress-bar-border,
#go_stats_header_lite .progress-bar-border{
	height: 30px;
	width: 100%;
	max-width: 300px;
	border-color: black;
	background-color: black;
	border: solid 1px;
	position: relative;
}

.go_stats_reward_name {
	display: inline-block;	
}

.go_stats_user_progress {
	width: 25%;
	height: 25px;
	border: 2px solid #AAA;
	top: 14px;
	margin-right: 40px;
}

.go_stats_progress_text_wrap {
	float: left;
	position: relative;
	left: 50%;
	height: 25px;
}

.go_stats_progress_text {
	position: relative;
	height: 100%;
	font-size: 18px;
	z-index: 1;
	left: -50%;
	line-height: 25px;
	overflow: hidden;
	word-break: break-all;
}

.go_stats_progress_fill {
	height: 100%;
	position: absolute;
	z-index: 0;
}

#go_stats_header_lite {
	position: relative;
	overflow: hidden;
	font-family: verdana;
	display: flex;
	flex-wrap: wrap;
	background-color: #d9d9d9;
	padding: 10px;
}

#go_stats_header_lite{
	.go_stats_gravatar, .go_stats_gravatar img{
	 height: 100px;
	 width: 100px;
 }
	.progress-bar-border{
		height: 20px;
	}

}

.go_stats_rank h3{
	font-size: 1em;
}

/** Penalties  List **/
#go_stats_penalties_list {
	width: 100% !important;
}

/** Badge Styles **/
#go_stats_badges,
#go_groups{
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
}
.go_badge_wrap {
	display: inline-block;
	float: left;
	margin-right: 25px;
	height: 150px; 
}

.go_group_wrap {
	display: inline-block;
	float: left;
	margin-right: 25px;
	width: 100%;
}

.go_badge_container,
.go_group_container{
	float: left;
}

.go_badge {
	text-align: center;
	float: left;
}

.go_group_needed {
	opacity: 0.3;
	filter: alpha(opacity=30); /* msie */
}

.go_badge_needed img,
.go_badge_needed figcaption {
	opacity: 0.3;
	filter: alpha(opacity=30); /* msie */
}

.badges_row ,
.groups_row {
	display: flex;
	flex-wrap: wrap;
}

#go_badges_list .parent_cat,
#go_groups_list .parent_cat{
	border: solid 1px;
	padding: 15px;
	margin: 15px;
}

/** Leaderboard Styles **/
#go_leaderboard_flex{
	display: flex;
	flex-wrap: wrap;
	font-size: .9em;

}

.go_leaderboard_layer {
	padding: 10px;
	flex-grow: 1;
	flex-basis: 0;
}
.go_user_links{
	display: flex;
}
.go_user_link {
	padding: 5px;
}
 .go_user_link a, .dashicons{
	text-decoration: none;
}

#go_leaderboard_wrapper thead,
#go_leaderboard_wrapper .fg-toolbar{
	/**display: block;*/
}

.go_is_user td {
	background-color: #fdb7b7 !important;
}
