.go_rewards {
	background-color: #c9fbc9;
}

.go_call_to_action{
	background-color: cornsilk;
}
/**
 * Date Picker Setting Row
 */

.go_date_picker_modifier_input {
	height: 30px;
	width: 70px;
}



/**
*set column widths on manage term pages
 */
.column-primary {
	flex: 1 !important; }

.posts.column-posts,
.manage-column.column-posts,
.pod_toggle.column-pod_toggle,
.manage-column.column-pod_toggle{
	text-align: center;
	flex: none !important;
	display: block;
	width: 40px;
}

.pod_achievement.column-pod_achievement,
.manage-column.column-pod_achievement,
.pod_done_num.column-pod_done_num,
.manage-column.column-pod_done_num,
.description.column-description,
.manage-column.column-description,
.slug.column-slug,
.manage-column.column-slug{
	text-align: center;
	flex: none !important;
	display: block;
	width: 100px;
}

.pod_done_num.column-pod_done_num,
.manage-column.column-pod_done_num{
	text-align: center;
	flex: none !important;
	display: block;
	width: 75px;
}


/********************
*	Edit term tables
hides table on term page until reorder.js is complete
********************/
#col-right {display:none;}

ul .row-actions {display:none;}

/*hides description field*/
.taxonomy-task_chains .term-description-wrap,
.taxonomy-task_focus_categories .term-description-wrap,
.taxonomy-task_categories .term-description-wrap,
.taxonomy-task_menus .term-description-wrap,
.taxonomy-stask_badges .term-description-wrap,
.taxonomy-store_types .term-description-wrap
{display:none;}

/********************
*
********************/


.wp-has-submenu.toplevel_page_maps_menus .wp-first-item {
  display: none; }

