.tsk_dark {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
}
.tsk_content_light {
	display: none;
	position: fixed;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	background-color: white;
	z-index: 1002;
	overflow: auto;
	border-radius: 3px;
	overflow-x: hidden;
}
.tsk_light_head {
	width: 100%;
	height: 35px;
	border-bottom: 1px solid #d1d1d1;
	background: #eee;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#e5e5e5), to(#f4f4f4));
	background-image: -webkit-linear-gradient(bottom, #e5e5e5, #f4f4f4);
	background-image: -moz-linear-gradient(bottom, #e5e5e5, #f4f4f4);
	background-image: -o-linear-gradient(bottom, #e5e5e5, #f4f4f4);
	background-image: linear-gradient(to top, #e5e5e5, #f4f4f4);
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-color: #ccc #ccc #dfdfdf;
}
.tsk_body_light {
	width: 95%;
	margin: 0 auto;
	padding: 5px;
}
.tsk_light_closer {
	position: absolute;
	top: 9px;
	right: 2%;
}
.tsk_submitter {
	background: white;
	border: 1px solid #bfbfbf;
	padding: 6px;
	border-radius: 4px;
	margin: 1px;
	float:left;
	cursor:pointer;
}
.tsk_pt_bxs {
	background: white;
	border: 1px solid #dfdfdf;
	width: 29.5%;
	float: left;
	margin: 14px 1.5% 6px 1.5%;
	border-radius: 3px;
	padding: 10px 0px 10px 0px;
	text-align: center;
	font-size: 13px;
	cursor:pointer;
	transition: width 2s;
	-webkit-transition: width 2s;
	text-transform: capitalize;
}
.tsk_pt_bxs span {
	background: white;
	color: black;
	padding: 6px 6px 6px 6px;
	border-radius: 3px;
	float: left;
	margin: 3px 0px 0px 8px;
	cursor: pointer;
	border: 1px solid #dfdfdf;
}
.tsk_pt_bxs span:hover {
	border: 1px solid #777;
}
.tsk_pt_bxs h2 {
	float: left;
	margin: 6px 0px 0px 8px;
}
.tsk_pst_bttn {
	float: left;
	margin: 8px 0px 0px 9px;
}
.tsk_pst_sel {
	margin: -7px 0px 0px 0px;
}
.quick_tsk_hdr {
	float: left;
	padding-top: 9px;
	padding-left: 2%;	
}