@import url(../../css/go_every_page.css);
@import url(../../css/tasks-admin.css);
@import url(../../css/go_store.css);
#go_leaderboard_filters {
  padding: 20px; }

#records_tabs a, #records_tabs .tooltip {
  color: blue; }

#go_messages .select2-container {
  width: 100% !important; }

.dt-buttons {
  padding: 10px; }

.hidden_action {
  display: none; }

.featherlight.stats .featherlight-content {
  width: 90%;
  height: 90%;
  margin-bottom: 5%;
  margin-top: 5%; }

/*
TOOLTIP
 */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block; }

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s; }

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }

/*
END TOOLTIP
 */
#go_stats_page_black_bg {
  display: block;
  position: fixed !important;
  top: 0% !important;
  left: 0% !important;
  width: 100% !important;
  height: 100% !important;
  background-color: black;
  z-index: 999998;
  -moz-opacity: 0.8;
  opacity: 0.80;
  filter: alpha(opacity=80) !important; }

#go_stats_white_overlay {
  display: none;
  position: fixed;
  top: 75px;
  left: 10%;
  width: 80%;
  height: 80%;
  padding: 16px;
  background-color: white;
  z-index: 999999;
  overflow: auto;
  border-radius: 3px; }

/** Popup Styles **/
/* Popup container - can be anything you want */
/* Tooltip text */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.popup:hover .popuptext {
  visibility: visible; }

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 50px;
  background-color: black !important;
  color: #fff !important;
  text-align: center;
  border-radius: 6px;
  padding: 0px 0;
  position: absolute;
  z-index: 1;
  padding: 5px; }

.popup .popuptext a {
  padding: 5px;
  color: #fff !important; }

/* Popup arrow 
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: -8%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}
*/
/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s; }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/** END Popup Styles **/
/** Header Styles **/
/**Header**/
#go_stats_header {
  position: relative;
  overflow: hidden;
  font-family: verdana;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap; }

.stats_progress_bar {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.go_stats_user_loot, .go_stats_bars {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.health_bar_percentage_str, .points_needed_to_level_up {
  color: white;
  position: absolute;
  top: 0;
  left: 0; }

.go_stats_id_card, .go_stats_bars, .go_stats_user_loot {
  font-size: 16px;
  line-height: 18px;
  min-width: 250px;
  flex-grow: 1;
  margin: 0 15px 15px 15px; }

.go_stats_id_card {
  display: flex; }

.go_stats_gravatar {
  width: 150px;
  height: 150px;
  border: 2px solid #BBB;
  position: relative;
  margin: 0px 10px 0px 20px; }

#go_stats_header .progress-bar-border,
#go_stats_header_lite .progress-bar-border {
  height: 30px;
  width: 100%;
  max-width: 300px;
  border-color: black;
  background-color: black;
  border: solid 1px;
  position: relative; }

.go_stats_reward_name {
  display: inline-block; }

.go_stats_user_progress {
  width: 25%;
  height: 25px;
  border: 2px solid #AAA;
  top: 14px;
  margin-right: 40px; }

.go_stats_progress_text_wrap {
  float: left;
  position: relative;
  left: 50%;
  height: 25px; }

.go_stats_progress_text {
  position: relative;
  height: 100%;
  font-size: 18px;
  z-index: 1;
  left: -50%;
  line-height: 25px;
  overflow: hidden;
  word-break: break-all; }

.go_stats_progress_fill {
  height: 100%;
  position: absolute;
  z-index: 0; }

#go_stats_header_lite {
  position: relative;
  overflow: hidden;
  font-family: verdana;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  padding: 10px; }

#go_stats_header_lite .go_stats_gravatar, #go_stats_header_lite .go_stats_gravatar img {
  height: 100px;
  width: 100px; }

#go_stats_header_lite .progress-bar-border {
  height: 20px; }

.go_stats_rank h3 {
  font-size: 1em; }

#go_stats_user_focuses {
  height: auto;
  font-size: 24px;
  clear: right;
  top: 22px; }

#go_stats_user_tabs {
  display: inline-block;
  float: right;
  clear: both;
  font-size: 14px; }

#go_stats_user_tabs a {
  text-decoration: none;
  color: inherit; }

#go_stats_admin_help {
  color: #FF0000 !important; }

#go_stats_body {
  position: relative;
  height: 70%;
  margin: 25px 20px 0px 20px;
  font-size: 13px;
  font-family: verdana;
  /*white-space: nowrap;*/
  overflow: hidden; }

#go_stats_body a {
  text-decoration: none; }

/** Task Styles **/
#go_stats_tasks_list {
  list-style-type: none;
  height: 100%;
  position: relative;
  margin-bottom: 50px;
  float: left;
  display: inline-block;
  width: 100%;
  margin: 0px 3.6% 0px 0px;
  overflow-y: auto; }

.go_stats_tasks_list_admin {
  float: none !important;
  display: inherit !important;
  margin: 0px !important;
  width: 100% !important; }

#go_stats_tasks_list:last-child {
  border-bottom: 1px solid #BBB; }

.go_stats_task {
  margin: 4px 0px 4px 0px;
  border-top: 1px solid #BBB;
  /*overflow: hidden;*/
  /** Flexbox **/
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

.go_stats_task_list_name {
  display: inline-block;
  float: left;
  width: 25%;
  white-space: pre-line;
  margin-top: 1.5px;
  font-size: 14px;
  height: auto; }

.go_stats_task_status_wrap {
  float: right;
  position: relative;
  display: inline-block;
  margin-top: 1.5px;
  /** Flexbox **/
  flex-grow: 1;
  -webkit-flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 10px; }

.go_stats_task_status {
  text-align: center;
  color: #FFF;
  display: inline-block;
  float: right;
  width: 43px;
  background-color: #DDD;
  height: 14px;
  margin: 4px 0px 2px 4px;
  line-height: 14px; }

.go_stats_task_admin_submit {
  cursor: pointer !important;
  margin: 5.5px 0px 3px 4px !important;
  height: 15px !important;
  width: 50px !important;
  line-height: 10px !important;
  background-color: silver !important;
  padding: 2px 6px 3px 6px !important;
  font-size: 10px !important; }

.go_stats_task_admin_submit_div {
  /** Flexbox **/
  flex-grow: 1;
  float: right !important;
  -webkit-flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 10px; }

.go_stats_task_admin_message {
  float: right !important;
  height: 16px !important;
  display: inline-block;
  margin: 5.5px 0px 2px 4px !important;
  padding: 0px !important;
  width: 200px !important;
  font-size: 12px !important;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 10px; }

.go_stats_task_status p {
  margin-bottom: 0; }

/* 
 * This makes up for the space that the border takes up on
 * stage boxes with the future_url class.
 */
.go_stats_task_status.future_url p,
.go_stats_task_status.future_url.completed p {
  margin-top: -5px; }

/* This only applies to the stats page viewed from the dashboard. */
body.wp-admin .go_stats_task_status p {
  margin-top: -2px; }

/* 
 * This makes up for the space that the border takes up on
 * stage boxes with the future_url class. This only applies
 * to the stats page viewed from the dashboard.
 */
body.wp-admin .go_stats_task_status.future_url p,
body.wp-admin .go_stats_task_status.future_url.completed p {
  margin-top: -3px; }

.go_stats_task_stage_url {
  cursor: pointer !important; }

.go_user {
  cursor: default; }

.future_url {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid;
  background-color: #FFF;
  color: #AAA; }

.completed {
  background-color: #AAA; }

.future_url.completed {
  color: #FFF; }

.chosen {
  background-color: #000;
  color: #FFF; }

.go_stage_does_not_exist {
  background-color: #FFF; }

.go_stats_body_list {
  display: inline-block;
  width: 30%;
  height: 100%;
  float: left;
  list-style-type: none;
  margin: 0px 1.5% 0px 0px !important;
  overflow-y: auto; }

#go_stats_body .go_stats_body_list:last-of-type {
  margin-right: 0px; }

.go_stats_body_list li:last-of-type {
  border-bottom: 1px solid #BBB; }

.go_stats_body_list_head {
  font-weight: bold;
  border-top: 0px !important;
  overflow: hidden;
  text-overflow: ellipsis; }

.go_stats_body_list li {
  width: 100%;
  margin: 0px 0px 0px 0px;
  border-top: 1px solid #BBB; }

/** Reward Styles **/
.go_stats_reward {
  white-space: pre-wrap; }

/** Minutes  List **/
#go_stats_minutes_list {
  width: 100% !important; }

/** Penalties  List **/
#go_stats_penalties_list {
  width: 100% !important; }

/** Badge Styles **/
#go_stats_badges,
#go_groups {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1; }

.go_badge_wrap {
  display: inline-block;
  float: left;
  margin-right: 25px;
  height: 150px; }

.go_group_wrap {
  display: inline-block;
  float: left;
  margin-right: 25px;
  width: 100%; }

.go_badge_container,
.go_group_container {
  float: left; }

.go_badge {
  text-align: center;
  float: left; }

.go_group_needed {
  opacity: 0.3;
  filter: alpha(opacity=30);
  /* msie */ }

.go_badge_needed img,
.go_badge_needed figcaption {
  opacity: 0.3;
  filter: alpha(opacity=30);
  /* msie */ }

.badges_row,
.groups_row {
  display: flex;
  flex-wrap: wrap; }

#go_badges_list .parent_cat,
#go_groups_list .parent_cat {
  border: solid 1px;
  padding: 15px;
  margin: 15px; }

/** Leaderboard Styles **/
#go_leaderboard_flex {
  display: flex;
  flex-wrap: wrap;
  font-size: .9em; }

.go_leaderboard_layer {
  padding: 10px;
  flex-grow: 1;
  flex-basis: 0; }

.go_user_links {
  display: flex; }

.go_user_link {
  padding: 5px; }

.go_user_link a, .dashicons {
  text-decoration: none; }

#go_leaderboard_wrapper thead,
#go_leaderboard_wrapper .fg-toolbar {
  /**display: block;*/ }

.go_is_user td {
  background-color: #fdb7b7 !important; }

/**This stuff below probably isn't needed*/
.go_stats_item_wrapper {
  float: left;
  max-width: 75%;
  overflow: hidden;
  text-overflow: ellipsis; }

.go_stats_amount {
  text-align: right; }

.stage_url {
  background-color: black !important; }
