.go_notification {
	text-align: center;
	line-height: 60px;
	vertical-align: middle;
	font-size: 36px;
	position: fixed;
	right: 30px;
	height: 68px;
	width: 250px;
	color: white;
	display:none;
	padding: 4px 1px 1px 1px;
	border-radius: 3px;
	background: #111111;
	opacity: .9;
	z-index: 9999999;
}

/********************
*	Admin-Bar Styles
********************/

.go_message_container {
	margin: 0 0 0 10px !important;
}

.go_message_container a {
	display: inline-block !important; 
	text-decoration: underline !important; 
	padding: 0px !important; 
	margin: 0px !important;
}

#go_admin_bar_progress_bar_border {
	height:16px;
	width:120px;
	border:thin white solid;
	-moz-border-radius: 2em 2em 2em 2em;
	margin-top: 2px;
}

#go_admin_bar_hitpoint_bar_border {
	height:16px;
    width:120px;
    border:1px white solid;
    -moz-border-radius: 2em 2em 2em 2em;
    border-radius: 2em 2em 2em 2em;
}

#go_admin_bar_title{
	text-align:left;
}

#go_admin_bar_input{
	width:250px;
}

.go_admin_bar_points{
	width:50px !important;
}

.go_admin_bar_reason{
	width:175px !important;
}

ul#wp-admin-bar-go_add-default.ab-submenu{
	height: 380px;
}

#points_needed_to_level_up:hover{
	color: white;
}

.go_admin_bar_text {
	position:absolute !important;
	width: inherit !important;
	text-align: center !important;
	height: inherit !important;
	margin-top:-8px !important;
	color: white;
	text-shadow: 0px 0px #ff6600;
}

.progress_bar{
	height:16px !important;
	background-color: #ff6600;
}

#go_messages_bar{
	background-color: red;
	border: 1px solid white;
	box-shadow: 1px 1px 1px black;
	color: white;
	height: 16px;
	text-align: center;
	min-width: 14px;
	line-height:17px;
	margin-top: 2px;
}

.go_messages_anchor {
	padding: 0 0 0 10px !important;
}

#go_admin_bar_task_search_input {
	height: 24px;
	font-size: 13px;
	margin-top: 3px;
	line-height: 2;
}

#go_admin_bar_task_search_submit {
	height: 24px;
	/* padding-bottom: 2px; */
	/* padding-top: 0; */
	/* padding-left: 5px; */
	/* padding-right: 5px; */
	margin-bottom: 3px;
	font-size: 10px;
	line-height: 24px;
	width: 50px;
}

input[name="go_admin_bar_submit"]{
	height: 40px !important;
}

#wp-admin-bar-site-name .ab-submenu {
	background-color: #4B4B4B !important;
}

#wp-admin-bar-site-name .go_site_name_menu {
	background-color: #333 !important;
}

#go_admin_bar_deactivation {
	height: 25px;
	line-height: 10px;
	width: 70px;
}

/********************
*	File Uploader Styles
********************/

#go_option_admin_email_desc p {
	margin-right: 20px;
}

#go_mailer_error_msg {
	color: red;
}

#go_mailer_confirm_msg {
	color: green;
}

/********************
*	Help Button Styles
********************/

.go_task_opt_help {
	float: right;
	color: black;
	margin-right: 0px;
	width: 15px;
	height: 15px;
	border-radius: 8px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	background: white;
	cursor: pointer;
	display: inline;
	position: relative;
	background-color: #DBDBDB !important;
}

.go_task_opt_help:hover::after {
	position: absolute;
	content: attr(tooltip);
	width: 200px;
	padding: 0 5px 0 5px;
	background-color: #CCC;
	font-size: 14px;
	bottom: 15px;
	left: 20px;
	border-radius: 5px;
	z-index: 99;
	color: black;
	white-space: initial;
}

/********************
*	Store Styles
********************/

/* Store Item Style | Back-end */

input#go_store_limit_input {
	text-align: center;
	width: 50px;
}

input#go_store_limit_input::-webkit-input-placeholder,
input.go_store_cost_input::-webkit-input-placeholder,
input.go_store_filter_input::-webkit-input-placeholder,
input#go_store_item_url_input::-webkit-input-placeholder,
input#go_store_badge_id_input::-webkit-input-placeholder,
input.go_store_exchange_input::-webkit-input-placeholder {
	padding-top: 2px;
}

input#go_store_limit_input,
input.go_store_cost_input,
input.go_store_filter_input,
input#go_store_item_url_input,
input#go_store_badge_id_input,
input.go_store_exchange_input {
	margin-top: 0px;
	margin-bottom: 0px;
}

input.go_store_cost_input {
	width: 30%;
}

input.go_store_filter_input {
	width: 15%;
}

input#go_store_item_url_input {
	width: 50%;
}

input.go_store_exchange_input[type='text'] {
	display: none;
	width: 21.7%;
}

input#go_store_badge_id_input {
	text-align: center;
	width: 75px;
}

/********************
*	Task Styles
********************/

/* Tasks Style | Back-end */

div.misc-pub-section-clone {
	border-top: 1px solid #eee;
}

input#go-button-clone {
	margin-bottom: 7px !important;
}

input.go_test_field_add {
	color: green;
}

input.go_test_field_rm {
	color: red;
}

.go_sortable {
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

.go_sortable_item {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}

#go_list_of_decay_dates, 
#go_list_of_decay_dates tbody, 
#go_list_of_decay_dates th, 
#go_list_of_decay_dates tr, 
#go_list_of_decay_dates td {
	margin: 0px;
	padding: 0px;
}

.datepicker{
	border-width: 1px;
	border-color: #DDD;	
}

.cmb_id_go_mta_time_modifier td input{
	width: 30px;
}

.go_task_settings_accordion{
	font-size:16px;
	border-style:solid;
	border-width:1px;
	border-color:#ddd;
	padding: 5px;
	cursor: pointer;
}

.go_triangle_container {
	float:right;
	cursor: pointer;
	display: block;
	width: 27px;
	height: 20px;
	text-align: center;
}

.go_triangle_container:hover .go_task_accordion_triangle {
	border-top: 5px solid #777;
}

.go_task_accordion_triangle {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #AAA;
	display: inline-block;
	vertical-align: middle;
	margin: auto;
}

.down {
	border-top: none;
	border-bottom: 5px solid #AAA;
}

ul#go_task_order_in_chain {
	margin: 0;
}

input#go_mta_final_chain_message {
	width: 100%;
}

.go_reward_input {
	color: #BBB !important;
	text-align: center;
	width: 40px;
}

input.go_admin_lock_text {
	width: 50%;
}

input.go_admin_lock_text::-webkit-input-placeholder {
	padding-top: 2px;
}

input.go_admin_lock_text:-moz-placeholder {
	padding-top: 2px;
}

.go_test_field_table, .go_test_field_input_question {
	width: 100%;
}

.go_test_field_table td {
	padding: 0px !important;
	margin-left: -2px;
}

.go_test_field_input_row select, 
.go_test_field_input_question, 
.go_test_field_add, 
.go_test_field_rm,
.go_test_field_add_block_button {
	margin-left: inherit;
}

.go_test_loot_mod {
	text-align: center;
	width: 40px;
}

.go_test_field_input_question {
	width: 100%;
}

input.go_test_field_input_question::-webkit-input-placeholder {
	padding-top: 2px;
}

input.go_test_field_input_question:-moz-placeholder {
	padding-top: 2px;
}

input.go_test_field_input {
	width: 75%;
	margin: 0 5px 0 5px !important;
	padding-top: 4px;
}

input.go_test_field_input::-webkit-input-placeholder {
   padding-top: 2px;
}

input.go_test_field_input:-moz-placeholder {
   padding-top: 2px;  
}

.go_test_field_input_checkbox {
	margin: 0 0 4px -2px !important;
}

input.go_test_field_add {
	color: green;
	font-size: 250%;
}

input.go_test_field_rm {
	color: red;
	font-size: 250%;
	margin-left: 5px;
}

.go_test_field_input_rm_row_button {
	margin-left: -2px !important;
}

input#go_repeat_amount_input {
	width: 40px;
	text-align: center;
}

.go_stage_badge_container{
	display: inline-block;
}

.go_badge_input{
	width: 75px;
}

input.go_current {
	color: #000 !important;
}

.condensed {
	padding: 7px !important;
}

#go_future_notification { 
	color: red;
}

#go_future_notification_task_name { 
	font-weight: bold;
	color: black !important;
}

#go_task_timer{
	color: red;
	font-weight: bold;
}

/* Tasks Style | Front-end */

div#go_description p, 
div#go_content p,
div#new_content p {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.go_stage_message p:last-of-type {
	border-bottom: 1px solid;
	border-bottom-color: inherit;
}

div.go_test_container {
	margin-bottom: 10px;
}

div.go_test_container:last-of-type {
	margin-bottom: 0px;
}

ul.go_test li {
	list-style: none;
}

ul.go_test li:first-of-type {
	display: inline;
}

ul.go_test li p {
	margin: 0px !important;
	padding: 0px !important;
}

p#go_test_error_msg {
	margin: 0 !important;
}

span.go_wrong_answer_marker {
	color: red;
	margin: 0 0 0 10px !important;
	padding: 0px !important;
}

span.go_correct_answer_marker {
	color: green;
	margin: 0 0 0 10px !important;
	padding: 0px !important;
}

div.go_chain_message {
	margin-top: 10px;
}

button.go_test_submit {
	margin: 10px 0 10px 2px !important;
}

input#go_pass_lock {
	margin: 0 0 10px 0;
}

input#go_pass_lock::-webkit-input-placeholder {
	padding-left: 4px;
}

input#go_pass_lock:-moz-placeholder {
	padding-left: 4px;
}

.dark{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.light{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: white;
	z-index: 999999;
	padding: 10px 10px 10px 10px;
}