#go_notification {
	text-align: center;
	font-size: 36px;
	position: fixed;
	right: 30px;
	height: 68px;
	width: 250px;
	color: white;
	display:none;
	padding: 4px 1px 1px 1px;
	border-radius: 8px;
	background: #111111;
	opacity: .9;
}

#go_admin_bar_progress_bar_border{
	height:15px;
	width:120px;
	border:thin grey solid;
	-moz-border-radius: 2em 2em 2em 2em;
	border-radius: 2em 2em 2em 2em;
}
#go_admin_bar_hitpoint_bar_border{
	height:15px;
    width:120px;
    border:thin grey solid;
    -moz-border-radius: 2em 2em 2em 2em;
    border-radius: 2em 2em 2em 2em;
}
#go_admin_bar_title{
	text-align:left;
}
#go_admin_bar_input{
	width:250px;
}
.go_admin_bar_points{
	width:50px !important;
}
.go_admin_bar_reason{
	width:175px !important;
}
ul#wp-admin-bar-go_add-default.ab-submenu{
	height:207px;
}
#points_needed_to_level_up:hover{
	color:black;
}

.go_admin_bar_text {
	position:absolute !important;
	width: inherit !important;
	text-align: center !important;
	height: inherit !important;
	margin-top:-8px !important;
	color: white;
	text-shadow: 0px 0px #ff6600;
}
.progress_bar{
	height:15px !important;
	-moz-border-radius: 2em 2em 2em 2em !important;
	border-radius: 2em 2em 2em 2em !important;
	background-color: #ff6600;
}
#go_messages_bar{
background-color: red;
border: 2px solid white;
border-radius: 12px;
box-shadow: 1px 1px 1px black;
color: white;
font: bold 15px/13px Helvetica, Verdana, Tahoma;
height: 16px;
padding: 0px 1px 0px 1px;
text-align: center;
min-width: 14px;
line-height:16px;
	}
	
.cmb_id_go_mta_test_mastery_lock_type_0, 
.cmb_id_go_mta_test_mastery_lock_type_1, 
.cmb_id_go_mta_test_mastery_lock_type_2, 
.cmb_id_go_mta_test_mastery_lock_type_3, 
.cmb_id_go_mta_test_mastery_lock_type_4,
.cmb_id_go_mta_test_lock_type_0, 
.cmb_id_go_mta_test_lock_type_1, 
.cmb_id_go_mta_test_lock_type_2, 
.cmb_id_go_mta_test_lock_type_3, 
.cmb_id_go_mta_test_lock_type_4{
	border-top: thin grey dotted;
}

.dark{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.light{
	display: none;
	position: fixed;
	left: 22.5%; 
	top: 20%;
	background-color: white;
	z-index:1002;
}

/*
#failure_overlay {
	background-color: rgba(255, 74, 0, 0.5);
	width: 100%;
	height: 100%;
	z-index: 1000;
	left: 0;
	top: 0;
	position: fixed;
}

#failure_overlay div {
	background-color: rgba(155, 0, 0, 0.9);
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 3px;
	margin: auto;
	margin-top: 20%;
	width: 50%;
	text-align: center;
	font-size: 200%;
}

#failure_overlay div ::selection {
	color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
}

#failure_overlay div p {
	padding: 0;
	margin: 0;
}
*/